jni/lib/x86/libvo-aacenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libvo-amrwbenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavcodec.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libfreetype.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libfreetype.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libswresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavutil.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libvo-aacenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libswresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavdevice.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libswscale.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavformat.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libfribidi.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavformat.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libswresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavfilter.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libvo-aacenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libass.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavfilter.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libfreetype.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavdevice.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavutil.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libfribidi.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libvo-amrwbenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavresample.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libfribidi.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libvo-amrwbenc.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavformat.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libass.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavcodec.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavfilter.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libswscale.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libavdevice.a filter=lfs diff=lfs merge=lfs -text
jni/lib/arm64-v8a/libswscale.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libass.a filter=lfs diff=lfs merge=lfs -text
jni/lib/armeabi-v7a/libavcodec.a filter=lfs diff=lfs merge=lfs -text
jni/lib/x86/libavutil.a filter=lfs diff=lfs merge=lfs -text
libs/armeabi-v7a/libffmpeg.so filter=lfs diff=lfs merge=lfs -text
libs/x86/libdjivideojni.so filter=lfs diff=lfs merge=lfs -text
libs/x86/libffmpeg.so filter=lfs diff=lfs merge=lfs -text
libs/arm64-v8a/libdjivideojni.so filter=lfs diff=lfs merge=lfs -text
libs/arm64-v8a/libffmpeg.so filter=lfs diff=lfs merge=lfs -text
libs/armeabi-v7a/libdjivideojni.so filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/audio_fifo.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/audioconvert.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-joining.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/vaapi.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-char-sets-list.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/eval.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/bprint.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/samplefmt.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/vorbis_parser.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/adler32.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/rational.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/avassert.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/bswap.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/ffversion.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voIndex.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/common.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/vda.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavformat/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/aes.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/avstring.h filter=lfs diff=lfs merge=lfs -text
jni/include/libpostproc/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-enddecls.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-mirroring.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/parseutils.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/xtea.h filter=lfs diff=lfs merge=lfs -text
jni/include/ass/ass.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-unicode.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voAAC.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavdevice/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libpostproc/postprocess.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavformat/avio.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/avconfig.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/motion_vector.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/random_seed.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-types.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavdevice/avdevice.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/file.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/threadmessage.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/cast5.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/replaygain.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/avcodec.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/avcodec.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/mathematics.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/stereo3d.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-amrwbenc/enc_if.h filter=lfs diff=lfs merge=lfs -text
jni/include/ass/ass_types.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/xvmc.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-flags.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/downmix_info.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/hmac.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/mem.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/opt.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/ripemd.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-bidi.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-bidi-types-list.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/dict.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/macros.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/avfilter.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/buffersrc.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-unicode-version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/crc.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-char-sets.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-config.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/time.h filter=lfs diff=lfs merge=lfs -text
jni/include/libswscale/swscale.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/cmnMemory.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voMem.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-begindecls.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/sha.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/timestamp.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voType.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-arabic.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/old_pix_fmts.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/attributes.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/buffersink.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavformat/avformat.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/intreadwrite.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/log.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/pixelutils.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/avutil.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/base64.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavresample/avresample.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-bidi-types.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/vdpau.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/pixfmt.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/timecode.h filter=lfs diff=lfs merge=lfs -text
jni/include/libswresample/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/old_codec_ids.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/avfiltergraph.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/hash.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/lfg.h filter=lfs diff=lfs merge=lfs -text
jni/include/libswresample/swresample.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/dv_profile.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/fifo.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/sha512.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/avfft.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/blowfish.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/cpu.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/error.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-joining-types-list.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/channel_layout.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-deprecated.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/display.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voAudio.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavresample/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/lzo.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/imgutils.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/md5.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/murmur3.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavfilter/asrc_abuffer.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/frame.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/buffer.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/intfloat.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavutil/pixdesc.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-joining-types.h filter=lfs diff=lfs merge=lfs -text
jni/include/libavcodec/dxva2.h filter=lfs diff=lfs merge=lfs -text
jni/include/libswscale/version.h filter=lfs diff=lfs merge=lfs -text
jni/include/vo-aacenc/voAMRWB.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-common.h filter=lfs diff=lfs merge=lfs -text
jni/include/fribidi/fribidi-shape.h filter=lfs diff=lfs merge=lfs -text
jni/include/ft2build.h filter=lfs diff=lfs merge=lfs -text
